body {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.search-bar input {
  width: 40%;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.search-bar button {
  font-size: 1rem;
  border-radius: 50px;
  border: none;
}
